/* Solid border */
.header {
    border-bottom: 3px solid rgb(0, 0, 0);
  }

  .logo {
    margin-bottom: 6px;
    margin-right: 12px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

.labnav {
    font-size: .8cm;
}
